@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Boska';
  src: url('/fonts/Boska/Boska-Variable.woff2') format('woff2');
  font-weight: 200 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Boska';
  src: url('/fonts/Boska/Boska-VariableItalic.woff2') format('woff2');
  font-weight: 200 900;
  font-display: swap;
  font-style: italic;
}

/* Optional - If you want to load static weights individually */
@font-face {
  font-family: 'Boska';
  src: url('/fonts/Boska/Boska-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Boska';
  src: url('/fonts/Boska/Boska-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Boska';
  src: url('/fonts/Boska/Boska-Italic.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

.overflow-hidden {
  overflow: hidden;
}

.goog-te-banner-frame {
  display: none !important;
}

body {
  top: 0px !important;
}

iframe.skiptranslate {
  display: none !important;
}

.goog-logo-link {
  display:none !important;
} 
  
.goog-te-gadget{
  color: transparent !important;
}
#goog-gt-tt {
  display: none !important;
  visibility: hidden !important;
}
.VIpgJd-yAWNEb-VIpgJd-fmcmS-sn54Q {
  border: none !important;
  outline: none !important;
  background: transparent !important;
  box-shadow: none !important;
}