@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Boska';
  src: url('/fonts/Boska/Boska-Variable.woff2') format('woff2');
  font-weight: 200 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Boska';
  src: url('/fonts/Boska/Boska-VariableItalic.woff2') format('woff2');
  font-weight: 200 900;
  font-display: swap;
  font-style: italic;
}

/* Optional - If you want to load static weights individually */
@font-face {
  font-family: 'Boska';
  src: url('/fonts/Boska/Boska-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Boska';
  src: url('/fonts/Boska/Boska-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Boska';
  src: url('/fonts/Boska/Boska-Italic.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}



